{% load static %}
<div class="modal fade" id="modal-{{ lesson.number }}" tabindex="-1" role="dialog">
    
    <div class="modal-dialog modal-xl" role="document">

    <div class="modal-content">
            <div class="modal-header">
                <h5 class="display-6">Lesson {{ lesson.number }} — Quiz</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
             <div class="modal-body">
                <p class="fs-5 text-white question"></p>

                <div class="audio-player card-body p-2 mt-2 d-none">
                     
                    <!-- Audio tag with the link to the audio file -->
                    <audio src="#" data-path="{% get_static_prefix %}quiz_audio/" preload="none"></audio>
                
                    <!-- Custom player markup -->
                    <!-- <button type="button" class="btn btn-secondary btn-radio" {% if audio.is_correct %}data-yhw="27" {% else %}data-yhw="99" {% endif %}style="width: 20px; height: 20px; padding: 22px; margin-right: 15px;">{{ audio.answer_id|lower }}</button> -->
                    <button type="button" class="ap-play-button btn btn-icon btn-primary" aria-label="Play/pause"></button>
                    <span class="ap-current-time flex-shr fw-medium mx-3 mx-lg-4">0:00</span>
                    <input type="range" class="ap-seek-slider" max="100" value="0">
                    <span class="ap-duration flex-shr fw-medium mx-3 mx-lg-4">0:00</span>
                    <div class="dropup">
                        <div class="dropdown-menu dropdown-menu-dark my-1">
                        <input type="range" class="ap-volume-slider" max="100" value="100">
                        </div>
                    </div>
                </div>
                <p class="lead mb-2 mb-md-3 fw-bold mt-5 fs-6 feedback" data-ln="{{ lesson.number }}"></p>
                
                <div class="card p-lg-4 p-md-2 mb-2 mb-lg-3 btn-radio card-hover" style="background-color: #061119;cursor: pointer;" data-ln="{{ lesson.number }}" data-answer-id="1" style="cursor: pointer;">
                    <p class="fs-lg mb-0"><span class="text-white">a) </span><span class="answer-1"></span></p>
                </div>
                
                <div class="card p-lg-4 p-md-2 mb-2 mb-lg-3 btn-radio card-hover" style="background-color: #061119;cursor: pointer;" data-ln="{{ lesson.number }}" data-answer-id="2" style="cursor: pointer;">
                    <p class="fs-lg mb-0"><span class="text-white">b) </span><span class="answer-2"></span></p>
                </div>
                
                <div class="card p-lg-4 p-md-2 mb-2 mb-lg-3 btn-radio card-hover" style="background-color: #061119;cursor: pointer;" data-ln="{{ lesson.number }}" data-answer-id="3" style="">
                    <p class="fs-lg mb-0"><span class="text-white">c) </span><span class="answer-3"></span></p>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <p>
                    You earned
                    <span class="question-index" data-stars=0></span>
                    <i class="bx bxs-star me-1" style="vertical-align: -1px; color: #ffba08;"></i>out of <span class="quiz-length"></span>
                    <i class="bx bxs-star me-1" style="vertical-align: -1px; color: #ffba08;"></i>
                </p>
                <div>
                    <button class="btn btn-secondary btn-md quiz-reset mx-2 d-none" type="button" data-url="{% url 'quiz-reset' %}" data-lpk="{{ lesson.pk }}">Reset quiz</button>
                    <button class="btn btn-secondary btn-md quiz-close mx-2 d-none" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-md disabled quiz-submit" data-quiz-index="0" data-url="{% url 'quiz-answer' %}" data-lpk="{{ lesson.pk }}" data-ln="{{ lesson.number }}" type="button">Submit answer</button>
                    <button class="btn btn-primary btn-md quiz-again d-none" data-quiz-index="0" data-lpk="{{ lesson.pk }}" data-url="{% url 'start-quiz' %}" data-ln="{{ lesson.number }}" type="button">Try again</button>
                </div>
            </div>
        </div>
    </div>
</div>